bidict==0.23.1
black==24.10.0
blinker==1.8.2
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
eventlet==0.37.0
ffmpeg-python==0.2.0
flake8==7.1.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.3.7
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.1.0
h11==0.14.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pycodestyle==2.12.1
pycryptodomex==3.20.0
pyflakes==3.2.0
python-engineio==4.9.1
python-socketio==5.11.4
requests==2.32.3
simple-websocket==1.0.0
tomli==2.0.2
typing_extensions==4.12.2
urllib3==2.2.2
websockets==13.0.1
Werkzeug==3.0.4
wsproto==1.2.0
yt-dlp==2024.9.27
zope.event==5.0
zope.interface==7.0.3
