<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Music Remover</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <!-- Social Links Section with Icons Only -->
        <div class="social-links">
            <a href="https://github.com/omeryusufyagci/fast-music-remover" target="_blank" class="social-link" aria-label="GitHub">
                <img src="/static/images/github-mark-white.png" alt="GitHub Logo">
            </a>
            <a href="https://discord.com/invite/xje3PQTEYp" target="_blank" class="social-link" aria-label="Discord">
                <img src="/static/images/discord-mark-white.png" alt="Discord Logo">
            </a>
        </div>

        <h1>Fast Music Remover</h1>
        
        <div class="input-section" id="urlSection">
            <label for="url">Enter a video URL:</label>
            <input type="text" id="url" class="url-input" placeholder="https://www.youtube.com/watch?v=is6dcedp4w0" oninput="handleSourceChange()" />
            <div class="demo-overlay" onmouseenter="highlightDemoUrl()" onmouseleave="removeHighlightDemoUrl()" onclick="applyDemoUrl()">Use Demo Video</div>
            <div class="toggle-container" style="display: none;" onclick="toggleActiveSource('url')">
                <span>Active</span>
                <div class="toggle-switch" id="urlToggle"></div>
            </div>
        </div>

        <div class="input-section" id="fileSection">
            <label for="fileInput">Or Upload a File:</label>
            <div class="upload-area" id="uploadArea" onclick="document.getElementById('fileInput').click();">
                <input type="file" id="fileInput" class="file-upload" style="display: none;" onchange="handleFileUpload(this.files[0])" />
                <span id="uploadText">Drag and drop a file here or click to browse</span>
                <div id="fileNameContainer" style="display: none;">
                    <span id="fileName"></span>
                    <div class="remove-file" onclick="removeFile(event)">Remove</div>
                </div>
            </div>
            <div class="file-preview" id="filePreview" onclick="toggleActiveSource('file')">
                <span id="fileName"></span>
                <div class="remove-file" onclick="removeFile(event)">Remove</div>
            </div>
            <div class="toggle-container" style="display: none;" onclick="toggleActiveSource('file')">
                <span>Active</span>
                <div class="toggle-switch" id="fileToggle"></div>
            </div>
        </div>

        <button type="button" class="button" onclick="submitForm()">Process Media</button>
        <p id="status"></p>
        <video id="videoPlayer" controls>
            Your browser does not support the video tag.
        </video>
        <audio id="audioPlayer" controls>
            Your browser does not support the audio tag.
        </audio>        
    </div>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
